/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body{
    padding-top:60px;
}
/* Global Reset */
.clear{
    clear:both;
}

.disabled{
    display:none;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
div.posts-list .post {
    width: 100%;
    height: auto;
    background: #f6f6f6;
    padding:50px;
}
div.posts-list .post:nth-child(2n) {
    background: #fff;
}


ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}


#home{

}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/
#about{
    float:left;
    width:70%;
}

#me{
    float:right;
}

 .contact {
  float: left;
  margin-right: 3em;
}

 .contact a {
  color: #8085C1;
}

/*****************************************************************************/
/*
/* footer
/*
/*****************************************************************************/
 


/*****************************************************************************/
/*
/*pagination
/*
/*****************************************************************************/
.pagination p{
    
}

.pagination ul li{
    list-style-type:none;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
