/*****************************************************************************/
/*
  /* Common
  /*
  /*****************************************************************************/

body{
    padding-top:60px;
    background-color: #F7F6F2;
}

/* Global Reset */
.clear{
    clear:both;
}

.disabled{
    display:none;
}

/*****************************************************************************/
/*
  /* Home
  /*
  /*****************************************************************************/

.right .github-fork-ribbon {
    background-color: #333;
    position: fixed;
    z-index: 1030;
}



div.posts-list .post {
    width: 100%;
    height: auto;
    background: #f0f0f0;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left : 20px;
    padding-right : 20px;
    border: 1px solid #ddd;
}

div.posts-list .post .post-title a {
    color : #333;
}

div.posts-list .post-meta{

}

div.posts-list .post:nth-child(2n) {
    background: #fff;
}


ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}


#home{

}

/*****************************************************************************/
/*
  /* About
  /*
  /*****************************************************************************/
#about{
    float:left;
    width:70%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding : 25px;
}

#me{
    float:right;
}

.contact {
    float: left;
    margin-right: 3em;
}

.contact a {
    color: #8085C1;
}

#codetime {
    padding: 10px;
}

/*****************************************************************************/
/*
  /* footer
  /*
  /*****************************************************************************/



/*****************************************************************************/
/*
  /*pagination
  /*
  /*****************************************************************************/
.pagination p{

}

.pagination ul li{
    list-style-type:none;
}

/*****************************************************************************/
/*
  /* Posts
  /*
  /*****************************************************************************/

/* standard */
/*
.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}


.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}
*/

.post ul, .post ol {
    margin-left: 1.35em;
}

#post-container {
    background-color : #fff;
    padding : 25px;
    border: 1px solid #ddd;
}

#service {
    margin-top : 30px;
    float: left
    width:100%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding : 25px;
}

#more-work {
    padding-top : 10px;
    padding-bottom : 50px;
}
