---
layout: default
title: 书磊的首页
---
<div>
  <div class="page-header">

  </div>
  <div class="posts-list">
    {% for post in paginator.posts %}
    <div class="post">
       <h3 class="post-title"><a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h3>
        <p class="post-meta"><time pubdate="{{ post.date | date_to_utc | date: '%Y-%m-%d' }}">{{ post.date | date_to_utc | date: "%Y-%m-%d" }}</time></p>
        <div class="post-contant">
            <p>{{ post.description }}</p>
            <p class="post-more"><a href="{{ post.url }}" title="Read More" rel="nofollow">Read More</a></p>
        </div>
    </div>
    {% endfor %}
  </div>
</div>

<div id="post-pagination" class="pagination">
  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
    <li class="page">
      {% if count == paginator.page %}
      <span class="current-page">{{ count }}</span>
      {% else %}
      <a href="/page{{ count }}">{{ count }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

<script>
  $(document).ready(function(){
  $("#homelink").addClass("active");
  });
</script>
