<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">{{ site.name }}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
            <li id="homelink"><a href="/">Home</a></li>
            <li id="archivelink"><a href="{{ site.archive_url }}">Archive</a></li>
            <li id="bookmarklink"><a href="{{ site.bookmark_url }}">bookmark</a></li>
            <li id="aboutlink"><a href="{{ site.about_url }}">About</a></li>
            <li><a target="_blank" href="{{ site.rss_url }}">RSS</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
