<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

	<!--bootstrap-->
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
	<link rel="stylesheet" href="/css/main.css">
	      
	<!--js-->
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

    </head>
    <body>

      {% include header.html %}
      <div class="container">
        {{ content }}

	<hr class="featurette-divider">
	<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
	<script type="text/javascript">
	  var duoshuoQuery = {short_name:"qinshulei"};
	  (function() {
	  var ds = document.createElement('script');
	  ds.type = 'text/javascript';ds.async = true;
	  ds.src = 'http://static.duoshuo.com/embed.js';
	  ds.charset = 'UTF-8';
	  (document.getElementsByTagName('head')[0] 
	  || document.getElementsByTagName('body')[0]).appendChild(ds);
	  })();
	</script>
	<!-- Duoshuo Comment END -->


    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_share_slide jiathis_share_32x32" id="jiathis_share_slide">
      <div class="jiathis_share_slide_top" id="jiathis_share_title"></div>
      <div class="jiathis_share_slide_inner">
        <div class="jiathis_style_32x32">
          <a class="jiathis_button_qzone"></a>
          <a class="jiathis_button_tsina"></a>
          <a class="jiathis_button_tqq"></a>
          <a class="jiathis_button_weixin"></a>
          <a class="jiathis_button_renren"></a>
          <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
          <script type="text/javascript">
            var jiathis_config = {data_track_clickback:'true'
	        ,slide:{
		    divid:'jiathis_main',
		    pos:'right'
	        }
            };
          </script>
          <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1355231392709975" charset="utf-8"></script>	
          <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_slide.js" charset="utf-8"></script>
    </div></div></div>
    <!-- JiaThis Button END -->


	<hr class="featurette-divider">
	{% include footer.html %}
      </div> <!-- /container -->
    </body>
</html>
